*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
main{
    height: 100%;
    width: 100%;
 display: flex;
 gap:10px;

    section{
        height: 100%;
        flex-grow: 1;
       background-size: cover;
          background-position:center;
    
    }
        section:nth-child(1){
            background:  url("./images/one.avif");
            background-position:   center;

        }
    section:hover{
        flex-grow: 4;
        transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
         
    }
    section:nth-child(2){
            background:  url("./images/sec.avif");
              background-position:   center;


        }
    section:nth-child(3){
            background:  url("./images/thi.avif");
                background-position:   center;
 

    }
     section:nth-child(4){
            background:  url("./images/four.avif");
               background-position:   center;

        }
         section:nth-child(5){
            background:  url("./images/five.avif");
                background-position:   center;


        }
}